.combo-box .list-cell {
    -fx-cell-size: 1.66667em;
    -fx-background-radius: 0;
}


.combo-box-popup .list-view {
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
    -fx-background-radius: 0;
}    

.combo-box-popup .list-view .list-cell {
    -fx-padding: 0 0 0 0;
    -fx-background-radius: 0;
}

/* .combo-box-popup .list-view .list-cell:filled:selected, 
.combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-fill: #FFFFFF
} */

/* Mengatur background color saat ComboBox dipilih untuk kategori "Pengeluaran" */

/* Mengatur background color saat ComboBox dipilih untuk kategori "Pemasukan" */
.combo-box .list-cell:filled:selected,
.combo-box .list-cell:filled:selected:arm {
    -fx-background-color: none;
    -fx-background-radius: 200;
}

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-text-fill: -fx-text-inner-color;
}

.combo-box-base {
    -fx-background-color: #ffffff;
    -fx-background-radius: 200;
    -fx-padding: 0;
}


.combo-box-base:hover {
    -fx-color: -fx-hover-base;
    -fx-background-color: #ffffff;
    -fx-background-radius: 200;
}


.combo-box-base::content
{
    -fx-background-color: #ffffff;
}

/* .income, .combo-box-base:focused {
    -fx-background-color: #68FB50;
} */



.combo-box-base:disabled {
    -fx-opacity: .4;
}

/* .income .combo-box-base .list-view {
    -fx-background-color: #39B200;
    -fx-background-radius: 0;
}
.expense .combo-box-base {
    -fx-background-color: #FF4040;
    -fx-background-radius: 0;
} */


.combo-box .item:selected {
    color: white;
    -fx-background-radius: 200;
}
  
/* Tambahkan aturan CSS untuk Pengeluaran dan Pemasukan */
/* Mengatur warna teks untuk ComboBox pertama */

/* Mengatur warna teks untuk ComboBox kedua */
