/* root.css */
.progress-bar > .bar {
    -fx-background-radius: 100;
    -fx-background-insets: 1 1 1 1;
    /* padding: 0.20em;
    -fx-padding: 0.20em; */
    -fx-pref-width: 200px; /* Set the preferred width */
    -fx-pref-height: 20px; /* Set the preferred height */
    -fx-background-color: #FF0D0D; /* Set the background color */
}

.progress-bar .track {
    -fx-background-color: #2D464F; /* Set the track background to black */
    -fx-background-radius: 100;
    -fx-background-border: #141C1F;
}

