/* root.css */
.progress-bar > .bar {
    -fx-background-radius: 400;
    -fx-background-insets: 1 1 1 1;
    -fx-pref-width: 400px; 
    -fx-background-color: #5AE1F3; 
}

.progress-bar .track {
    -fx-background-color: #141F23; /* Set the track background to black */
    -fx-background-radius: 100;
}

