.text-field {
    -fx-background-color: #0D1416;
    -fx-background-radius: 10px;
    -fx-border-color: #213339;
    -fx-border-width: 3px;
    -fx-border-radius: 10px;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: 'Poppins Medium';
    -fx-font-size: 16;

    /* -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1; */
}